.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    gap: 1.5rem;
    
    @media(max-width:420px){
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
}