#banner{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7))
    ,url("../../../public/images/hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    #bannerBtn{
        box-shadow: 0px 0px 0px 1.1px rgb(239, 68, 68);
        &:hover{
            background-color: transparent;
            box-shadow: 0px 0px 0px 1.1px #fff;
        }
    }
}